<h1>Default Render Method</h1>

<p>You forgot to overload render();</p>

<p>Requested URL:</p>
<pre><%= _data.requestedUrl %></pre>

<p>Arguments:</p>
<pre><%= _data.args %></pre>

<p>Localization file:</p>
<details>
	<summary>show all phrases</summary>
	<pre><%= _data.localization %></pre>
</details>
