<div class="stars">

	<p class="error-title">
		<%= _data.title %>
	</p>
	<p class="error-message">
		<%= _data.message %>
	</p>

	<div class="wrapper">
		<div class="container">
			<div class="sphere">
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
			</div>
			<div class="sphere">
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
			</div>
		</div>
	</div>

</div>
