<div class="fullscreen stars-background">
	<div class="orb">
		<div class="orb__sphere sphere">
			<div class="sphere__ring"></div>
			<div class="sphere__ring"></div>
			<div class="sphere__ring"></div>
			<div class="sphere__ring"></div>
			<div class="sphere__ring"></div>
			<div class="sphere__ring"></div>
			<div class="sphere__ring"></div>
			<div class="sphere__ring"></div>
			<div class="sphere__ring"></div>
			<div class="sphere__ring"></div>
		</div>
		<div class="orb__sphere sphere">
			<div class="sphere__ring "></div>
			<div class="sphere__ring "></div>
			<div class="sphere__ring "></div>
			<div class="sphere__ring "></div>
			<div class="sphere__ring "></div>
			<div class="sphere__ring "></div>
			<div class="sphere__ring "></div>
			<div class="sphere__ring "></div>
			<div class="sphere__ring "></div>
			<div class="sphere__ring "></div>
		</div>
	</div>

	<div class="error-title">
		<%= _data.title %>
	</div>
	<div class="error-message">
		<%= _data.message %>
			<a href="#/">BACK</a>
	</div>
</div>
