<div class="fullscreen stars">

	<div class="wrapper">
		<div class="container">
			<div class="sphere">
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
			</div>
			<div class="sphere">
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
				<div class="ring"></div>
			</div>
		</div>
	</div>

	<div class="error-title">
		<%= _data.title %>
	</div>
	<div class="error-message">
		<%= _data.message %>
			<a href="#/">BAKC</a>
	</div>


</div>
