<div class="BG0-upload">
	<div class="BG-globe">
		<div class="upload-title">Upload</div>
		<div class="upload-subtitle">packages to EvoDoc registry</div>
		<p class="text1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>

		<form class="upload-box">
			<input type="text" class="upload-box__input" placeholder="https://github.com/../..">
			<button class="upload-box__button">Upload</button>
		</form>
	</div>
</div>
