<div class="fullscreen">

	<div class="verification">
		<h1>Verification</h1>
		<form>
			<input type="text" name="Verification" id="verification__key">
			<input id="verification__submit" type="button" value="Send verification code" />
		</form>
	</div>

</div>
