<div class="fullscreen">

	<h1>Sign In</h1>
	<form>
		<label>
			<span>Username or E-mail</span>
			<input id="username" type="email" />
		</label>
		<label>
			<span>Password</span>
			<input id="password" type="password" />
		</label>
		<input id="sign-in" type="submit" value="Sign in" />
	</form>

	<div id="feedback"></div>

	<a href="#/authorization/password">Forgot password?</a>
	<a href="#/authorization/sign-up">Sign Up</a>
</div>
