<div class="page-title">About EvoDoc</div>

<!-- Homepage - circuit -->
<a href="http://www.freepik.com">Designed by Harryarts / Freepik</a>
<!-- Homepage - learn, build, explore -->
<p>
	<a href="http://www.freepik.com/free-photos-vectors/background">Background vector created by Vectorarte - Freepik.com</a>
</p>
<p>
	<a href="http://www.freepik.com/free-photos-vectors/city">City vector created by Freepik</a>
</p>
<p>
	<a href="http://www.freepik.com/free-photos-vectors/business">Business vector created by Freepik</a>
</p>

<!-- Registry package -->u
<a href="http://www.freepik.com">Designed by macrovector / Freepik</a>
<!-- Upload package -->
<a href="http://www.freepik.com">Designed by Olga_spb / Freepik</a>
