<!-- Block -->
<div class="newButton newButton_yellow">
	<!-- Elements -->
	<div class="newButton__icon"></div>
	<div class="newButton_title">Yellow button</div>
</div>


<!-- Block -->
<div class="newButton newButton_blue">
	<!-- Elements -->
	<div class="newButton__icon"></div>
	<div class="newButton_title">Blue button</div>
</div>
