<div class="BG0-homepage">

	<div class="logo-container">
		<img src="<%= require('./images/evodoc-logo.png') %>" alt="create image" class="create-image">
	</div>
	<span class="evodoc-title">EVODOC</span>

	<!-- Search bar -->
	<div class="searchbox">
		<input class="search" type="text" placeholder="Search packages...">
		<div class="also"></div>
	</div>

	<div class="circuit-image"></div>

	<div class="stats">stats - packages downloaded cnt, package cnt in registry etc.</div>

</div>

<div class="BG1-homepage">
	<h1>What is EvoDoc ?</h1>

	<p class="what-is-ED-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>

	<div class="what-is-evodoc-icons">

		<div>
			<img src="<%= require('./images/learn_circle.gif') %>" alt="learn image" class="learn-image">
			<a href="">Learn</a>
			<p>New to EvoDoc? Start with a walkthrough showing how EvoDoc ...</p>
		</div>

		<div>
			<img src="<%= require('./images/create.jpg') %>" alt="create image" class="create-image">
			<a href="">Build</a>
			<p>Want to make your first EvoDoc package and share it with the community? Start with this walkthrough!</p>
		</div>

		<div>
			<img src="<%= require('./images/explore_circle.gif') %>" alt="explore image" class="explore-image">
			<a href="">Explore</a>
			<p>Browse the thousands of packages that developers like you have created and shared with the EvoDoc community.</p>
		</div>

	</div>
</div>
