<div class="circuit-BG">
	<img src="<%= require('./images/circuit-blue-lines3.jpg') %>">

	<!-- Search bar -->
	<div class="search-box-flat">
		<input class="search-box-flat__input" type="text" placeholder="Search packages...">
		<div class="search-box-flat__search-icon">
			<i class=" fas fa-search"></i>
		</div>
	</div>
</div>

<!-- Docs -->
<div class="hp-bg">
	<h1>What is EvoDoc ?</h1>
	<p class="what-is-ED-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>

	<div class="what-is-evodoc-icons">
		<div>
			<img src="<%= require('./images/learn_circle.gif') %>" alt="learn image" class="learn-image">
			<a href="">Learn</a>
			<p>New to EvoDoc? Start with a walkthrough showing how EvoDoc ...</p>
		</div>

		<div>
			<img src="<%= require('./images/create.jpg') %>" alt="create image" class="create-image">
			<a href="">Build</a>
			<p>Would you like to make your first EvoDoc project? You can start with this walkthrough!</p>
		</div>

		<div>
			<img src="<%= require('./images/explore_circle.gif') %>" alt="explore image" class="explore-image">
			<a href="#/registry">Explore</a>
			<p>Browse packages that developers like you have shared with the EvoDoc community.</p>
		</div>
	</div>

	<!-- Statistics -->
	<div class="statistics">
		<div class="statistics__item">
			<i class="fa fa-users fa-5x"></i>
			<p>8,888</p>
			<span>Users Registered</span>
		</div>

		<div class="statistics__item">
			<i class="fas fa-box fa-5x"></i>
			<p>20,550</p>
			<span>Packages Uploaded</span>
		</div>

		<div class="statistics__item">
			<i class="fa fa-suitcase fa-5x"></i>
			<p>1,635</p>
			<span>Projects Created</span>
		</div>
	</div>
</div>
