.BG0-packages {
	width: 100%;
	height: 155px;
	padding-top: 10px;
	text-align: center;
	background-color: white;
	box-sizing: border-box;
}

.package-image {
	display: inline-block;
	height: 80px;
	vertical-align: top;
	img {
		height: 100%;
	}
}

.packages-title {
	padding: 13px;
	margin-left: 18px;
	display: inline-block;
	font-family: "Black Ops";
	color: black;
	font-size: 45px;
	text-align: center;
	text-transform: uppercase;
}

.BG1-packages {
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: white;
	box-sizing: border-box;
}
