<div class="BG0-packages">
	<div class="package-image">
		<img src="<%= require('./images/box.jpg') %>" alt="package image">
	</div>
	<div class="packages-title">Packages</div>
	<!-- Search box -->
	<div class="search-box">
		<input class="search-box__input" type="text-content" placeholder="Search packages...">
		<div class="search-box__search-icon">
			<i class="fas fa-search"></i>
		</div>
	</div>
</div>

<div class="BG1-packages">
	<!-- Search results -->
	<div class="search-result">
		<ul class="search-result__list list">

			<li class="list__search-item search-item">
				<div class="search-item__image"></div>
				<div class="search-item__text-content text-content">
					<a class="text-content__package-name" href="">Package name</a>
					<span class="stateLabel stateLabel_stable">stable</span>
					<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora animi</div>
					<div>Added x days/m/y ago by uxsername</div>
				</div>
				<div class="search-item__button button">
					<button class="button-white">Add to Project
					</button>
				</div>
			</li>

			<li class="list__search-item search-item">
				<div class="search-item__image"></div>
				<div class="search-item__text-content text-content">
					<a class="text-content__package-name" href="">Package name</a>
					<span class="stateLabel stateLabel_deprecated">Deprecated</span>
					<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora animi</div>
					<div>Added x days/m/y ago by username</div>
				</div>
				<!-- <div class="search-item__button button">
						<button class="button-white">Add to Project
					</button>
					</div> -->
			</li>
		</ul>

		<div class="search-result__end">No more results.</div>
	</div>

</div>
