.BG0-packages {
	width: 100%;
	height: 22vh;
	padding: 10px;
	text-align: center;
	background-color: #7684ff;
	box-sizing: border-box;
}

.packages-title {
	padding: 13px;
	margin-left: 18px;
	display: inline-block;
	font-family: "Black Ops";
	color: black;
	font-size: 58px;
	text-align: center;
	text-transform: uppercase;
}

.BG1-packages {
	width: 100%;
	padding: 10px;
	text-align: center;
	background-color: white;
	box-sizing: border-box;
}
