<div class="BG0-packages">
	<div class="packages-title">Packages</div>

	<!-- Search bar -->
	<div class="search-container">
		<div class="search-box" id="SBox">
			<input id="search" placeholder="Search packages..." type="text">
			<!-- FIXME: @Monika Ty kraaaso, ten ctverecek by mohl vrazit.-->
			<div class="also search-link" id="searchclick"></div>
		</div>
	</div>

</div>

<div class="BG1-packages">
	<!-- Search results -->
	<div class="search__container">
		<ul class="card">

			<li class="search-item">
				<div class="search-item__image" style="background-image: url(http://placehold.it/100x100);"></div>
				<div class="search-item__content">
					<p class="text--medium">
						<a class="packagename" href="">Package name</a>
						<span class="label label--green text--upcase">stable</span>
					</p>
					<p class="text--small text--muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora animi </p>
					<p class="text--small text--muted">Published x days/m/y ago</p>
				</div>
				<div class="search-item__options">
					<button class="button button--outline button--small">Add to Project
						<button/>
				</div>
			</li>

			<li class="search-item">
				<div class="search-item__image" style="background-image: url(http://placehold.it/100x100);"></div>
				<div class="search-item__content">
					<p class="text--medium">
						<a href="" class="packagename">Package name</a>
						<span class="label label--red text--upcase">Deprecated</span>
					</p>
					<p class="text--small text--muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora animi </p>
					<p class="text--small text--muted">Published x days/m/y ago</p>
				</div>
				<div class="search-item__options">
					<!-- <button class="button button--outline button--small">Add to Project -->
					<button/>
				</div>
			</li>

			<li class="search-item">
				<div class="search-item__image" style="background-image: url(http://placehold.it/100x100);"></div>
				<div class="search-item__content">
					<p class="text--medium">
						<a href="" class="packagename">Package name</a>
						<span class="label label--green text--upcase">Stable</span>
					</p>
					<p class="text--small text--muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora animi </p>
					<p class="text--small text--muted">Published x days/m/y ago</p>
				</div>
				<div class="search-item__options">
					<button class="button button--outline button--small">Add to Project
						<button/>
				</div>
			</li>

			<li class="search-item">
				<div class="search-item__image" style="background-image: url(http://placehold.it/100x100);"></div>
				<div class="search-item__content">
					<p class="text--medium">
						<a href="" class="packagename">Package name</a>
						<span class="label label--green text--upcase">Stable</span>
					</p>
					<p class="text--small text--muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora animi </p>
					<p class="text--small text--muted">Published x days/m/y ago</p>
				</div>
				<div class="search-item__options">
					<button class="button button--outline button--small">Add to Project
						<button/>
				</div>
			</li>

		</ul>
	</div>

	<div class="text--center">
		<p class="text--small text--muted noresults">No more results.</p>
	</div>
</div>
