.search-box__search-icon {
	width: 50px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	display: inline-block;
	cursor: pointer;

	color: #505050;
	border: 2px outset hsla(0, 0%, 86%, 0.78);
	box-shadow: inset -1px -1px 20px 14px rgba(31, 147, 206, 0.25), inset 17px 15px 0 6px #fff,
		5px 4px 6px 0 hsla(0, 0%, 56%, 0.59), 7px 2px 3px 0 hsla(0, 0%, 75%, 0.11);
	border-radius: 0 6px 6px 0;

	&:hover {
		color: #5e5e5e;
	}
}
