.menu__item {
	height: 60px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&_logotype {
		font-family: "Black Ops";
		padding: 3px 0 0 20px;
		letter-spacing: 1px;
		font-size: 33px;
		box-sizing: border-box;
	}
}

.menu__item a {
	display: flex;
	width: 100%;
	height: 100%;
	color: white;
	text-decoration: none;
}

.menu__item:hover {
	.item__icon {
		font-size: 26px;
		transition: font-size 0.2s;
	}

	.item__label {
		color: rgb(253, 255, 164);
	}
}
