$colors: #40e0d0, #4ae2d2, #53e3d5, #5de5d7, #66e6d9, #70e8dc, #79e9de, #83ebe0, #8cece3, #96eee5;

.sphere__ring {
	border: 1px solid;
	box-sizing: border-box;
	border-radius: 50%;
	opacity: 0;
	animation: fadeIn 2000ms ease infinite;
	box-shadow: 0 0 80px rgba(#fff, 0.2), inset 0 0 80px rgba(#fff, 0.2);
	position: absolute;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;

	@for $i from 1 through 10 {
		&:nth-of-type(#{$i}) {
			border-color: nth($colors, $i);
			animation-delay: $i * 200ms;
		}
	}
}

@keyframes rotateSphere {
	to {
		transform: rotateX(360deg) rotateY(360deg);
	}
}

@keyframes fadeIn {
	from,
	to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
