// -------------------------------------------------------------------------------------------------
// FIXME: @Monika
// Nekde jsem videl, ze pouzivas vic footeru. Pokud se nemylim, tak to byla jen moje ukazka,
// ze existuje footer. Pokud jde o footer s copyrightem tak bych to pojmenoval doslova jako
// .copyright nebo neco podobneho
// -------------------------------------------------------------------------------------------------

footer {
	height: 40px;
	line-height: 40px;
	background-color: #000435;
	box-sizing: border-box;
	text-align: center;
	color: white;
}
