// -------------------------------------------------------------------------------------------------
// FIXME: @Monika
// Stejne jako u footeru. Ted se treba divam na tenhle header a fakt nevim k cemu patri
// a jestli se vubec pouziva.
// -------------------------------------------------------------------------------------------------

header {
	width: 100%;
	background-color: $flat-wet-asphalt;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	color: white;

	ul {
		list-style-type: none;
	}

	a {
		color: white;
	}
}
