// -------------------------------------------------------------------------------------------------
// Main - content container. Necessary for the naviagtion.
// -------------------------------------------------------------------------------------------------

main {
	flex: 1 0 0;
	overflow-y: scroll;
	overflow-x: hidden;

	#wrapper {
		overflow-y: scroll;
		height: 100%;
	}

	#root {
		margin-top: 60px;
		min-height: calc(100% - 100px);
	}
}
