// -------------------------------------------------------------------------------------------------
// Screen - wrapper for the page. Necessary for the navigation.
// -------------------------------------------------------------------------------------------------

.screen {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}
