@import "./search-box-flat/*";

.search-box-flat {
	position: absolute;
	width: 100%;
	top: calc(13% + 50px);
	transition: opacity 0.4s linear, visibility 0.4s linear 0s;

	display: flex;
	justify-content: center;
}
