.data-group__pass-info {
	top: 155px;
	width: 100%;
	height: 30px;
	position: absolute;
	z-index: 1;
	font-size: 11px;
	text-align: center;
	text-transform: none;
	color: #fff;
	background: rgba(0, 0, 0, 0.92);
	display: none;
}
