<h1>Dashboard</h1>

<h2>User projects</h2>
<div>
	<h3>Project name (uniqueProjectID1)</h3>
	<a href="#/dashboard/project/uniqueProjectID1">Info</a>
	<a href="#/dashboard/project/uniqueProjectID1/settings">Settings</a>
</div>
<div>
	<h3>Project name (uniqueProjectID1)</h3>
	<a href="#/dashboard/project/uniqueProjectID1">Info</a>
	<a href="#/dashboard/project/uniqueProjectID1/settings">Settings</a>
</div>


<h2>User packages</h2>
<p>
	<a href="#/registry/package/show/AWESOMEPAKAGE">AWESOME</a>
</p>
<p>
	<a href="#/registry/package/show/PackageName">Name</a>
</p>
