<div class="fullscreen auth">

	<div class="auth__sign-in sign-in">
		<h1>Sign In</h1>
		<form>
			<label>
				<div>Username or E-mail</div>
				<input id="sign-in__usermail" type="text" />
			</label>
			<label>
				<div>Password</div>
				<input id="sign-in__password" type="password" />
			</label>
			<input id="sign-in__submit" type="button" value="Sign in" />
		</form>
	</div>

	<div class="auth__sign-up sign-up">
		<h1>Sign Up</h1>
		<form>
			<label>
				<div>E-mail</div>
				<input id="sign-up__email" type="email" />
			</label>
			<label>
				<div>Username</div>
				<input id="sign-up__username" type="text" />
			</label>
			<label>
				<div>Password</div>
				<input id="sign-up__password" type="password" />
			</label>
			<label>
				<div>Repeat password</div>
				<input id="sign-up__password-repeat" type="password" />
			</label>
			<input id="sign-up__submit" type="button" value="Sign Up" />
		</form>
	</div>

	<div class="auth__password">
		<h1>It's your problem.</h1>
		Try to Sign In again.
	</div>

	<div>Server Feedback:</div>
	<div id="auth__feedback"></div>


</div>
