<div class="BG0-upload">
	<div class="BG-globe">
		<p class="upload-title">Upload</p>
		<p class="upload-subtitle">packages to EvoDoc register</p>
		<p class="text1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
		<div class="container-fluid">
			<div id="header">

				<div id="input-link">
					<center>
						<input type="text" class="input-uploadbox" placeholder="https://github.com/../.." width="80">
						<button class="btn btn-danger btn-upload">Upload</button>
					</center>
				</div>
			</div>
			<center>

		</div>

		<!-- <div>
			<div class="wrapper-upload">
				<div class="drop">
					<div class="cont">
						<i class="fa fa-cloud-upload"></i>
						<div class="tit">Drag &amp; Drop</div>
						<div class="desc">your files to the box, or </div>
						<div class="browse">click here to browse</div>
					</div>
					<output id="list"></output>
					<input id="files" multiple="true" name="files[]" type="file">
				</div>
			</div>
		</div> -->

	</div>
</div>
