<div class="fullscreen">

	<h1>Sign Up</h1>
	<form>
		<label>
			<span>E-mail</span>
			<input type="email" />
		</label>
		<label>
			<span>Password</span>
			<input type="password" />
		</label>
	</form>

	<a href="#/authorization/sign-in">Or try to Sign In</a>

</div>
