<div class="fullscreen">

	<h1>Sign Up</h1>
	<form>
		<label>
			<span>E-mail</span>
			<input id="email" type="email" />
		</label>
		<label>
			<span>Username</span>
			<input id="username" type="text" />
		</label>
		<label>
			<span>Password</span>
			<input id="password" type="password" />
		</label>
		<input id="sign-up" type="submit" value="Sign Up" />
	</form>

	<div id="feedback"></div>

	<a href="#/authorization/sign-in">Or try to Sign In</a>

</div>
