.profile__avatar {
	height: 50px;
	width: 50px;
	margin-top: 10px;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid rgba(255, 255, 255, 0.89);
	box-shadow: 0 0 9px 5px hsla(0, 0%, 100%, 0.39);
}
