<div id="route-login" class="bg0">
	<div class="route-login__form">
		<div class="route-login__form-inner">

			<h1>Login form</h1>
			<form>
				<label>
					<span>E-mail</span>
					<input type="email" />
				</label>
				<label>
					<span>Password</span>
					<input type="password" />
				</label>
			</form>

		</div>
	</div>
</div>
