html,
body {
	color: rgb(0, 0, 0);
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

a {
	color: #0c4a84;
	text-decoration: none;

	&:visited {
		// color: #105190;
		color: #1c76cc;
	}
	&:hover {
		color: orange;
	}
	&:active {
		color: #dd6819;
		// transform: translateY	(5%);
	}
}
