/*---------------------------------------------------------------------------------------------------------------------
 * Description: Global body/html styles
 * Created: 19/03/2018
---------------------------------------------------------------------------------------------------------------------*/

body {
	//background : url($image + "example.jpg") no-repeat $flat-wet-asphalt;

	form:after {
		//background : url("../assets/images/girl.jpg");
		content : '';
		display : block;
		height  : 720px;
		width   : 516px;
		}
	}
