/* Light */
@font-face {
	font-family: "Open Sans";
	src: url("../resources/fonts/OpenSans-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

/* Light Italic */
@font-face {
	font-family: "Open Sans";
	src: url("../resources/fonts/OpenSans-LightItalic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
}

/* Regular */
@font-face {
	font-family: "Open Sans";
	src: url("../resources/fonts/OpenSans-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/* Italic */
@font-face {
	font-family: "Open Sans";
	src: url("../resources/fonts/OpenSans-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
}

/* Semibold */
@font-face {
	font-family: "Open Sans";
	src: url("../resources/fonts/OpenSans-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

/* Semibold Italic */
@font-face {
	font-family: "Open Sans";
	src: url("../resources/fonts/OpenSans-SemiboldItalic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
}

/* Bold */
@font-face {
	font-family: "Open Sans";
	src: url("../resources/fonts/OpenSans-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

/* Bold Italic */
@font-face {
	font-family: "Open Sans";
	src: url("../resources/fonts/OpenSans-BoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
}

/* Extrabold */
@font-face {
	font-family: "Open Sans";
	src: url("../resources/fonts/OpenSans-ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}

/* Extrabold Italic */
@font-face {
	font-family: "Open Sans";
	src: url("../resources/fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2");
	font-weight: 800;
	font-style: italic;
}

/* Evodoc Icon Font */
@font-face {
	font-family: "Black Ops";
	src: url("../resources/fonts/BlackOpsOne-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

/* Valera Round Font */
@font-face {
	font-family: "Valera Round";
	src: url("../resources/fonts/VarelaRound-Regular.otf") format("otf");
	font-weight: normal;
	font-style: normal;
}

// Material Design Icons
@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: url("../resources/fonts/MaterialIcons-Regular.woff2") format("woff2");
}
.icon-material {
	// Default icon size
	font-size: 24px;

	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	vertical-align: text-bottom;
}
