$loader-speed: 250ms;
$loader-delay: 2000ms;

#loader {
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000000;
}

.loader {
	&_show {
		opacity: 1 !important;
		height: 100% !important;
		transition: height 0ms linear $loader-delay, opacity $loader-speed linear $loader-delay;
	}

	&_hide {
		opacity: 0 !important;
		height: 0 !important;
		transition: height 0ms linear $loader-speed, opacity $loader-speed linear 0ms;
	}
}

.loader__inner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.sk-folding-cube {
	margin: 20px auto;
	width: 50px;
	height: 50px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $flat-belize-hole;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
	transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
	transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
	transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
	background-color: $flat-peter-river;
	animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
	background-color: $flat-wet-asphalt;
	animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
	background-color: $flat-midnight-blue;
	animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
	0%,
	10% {
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

@keyframes sk-foldCubeAngle {
	0%,
	10% {
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
	75% {
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%,
	100% {
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}
