.nav__inner {
	width: 200px;
	position: absolute;
	overflow-y: scroll;
	height: 100%;
	top: 0;
	right: 0;
	background: linear-gradient(180deg, #000541 68%, #786afa 100%);
	box-shadow: inset -5px -10px 10px 0 rgba(0, 0, 0, 0.3);
}
