.nav__inner {
	width: 200px;
	position: absolute;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	top: 0;
	right: 0;
	// background: linear-gradient(180deg, #000541 68%, #786afa 100%);
	// box-shadow: inset -5px -10px 10px 0 rgba(0, 0, 0, 0.3);
	background: linear-gradient(0deg, rgb(0, 0, 0) 10%, rgba(0, 169, 255, 0.15));
	box-shadow: inset 6px -7px 14px 0px rgba(0, 0, 0, 0.17);

	ul {
		color: #fff;
		list-style: none;
		font-family: "Varela Round", sans-serif;
		margin: 0;
		padding: 0;
	}
}
