.nav__toggle-button {
	top: 15px;
	right: -55px;
	width: 40px;
	height: 30px;
	z-index: 10;
	position: absolute;
	transition: right 1s;
	transform: scale(0.85);
	cursor: pointer;
}

.nav__checkbox:checked + nav .nav__toggle-button {
	right: 15px;
	opacity: 0.8;
	transition: right 1s;
}

.nav__checkbox:checked + nav .nav__toggle-button div {
	background-color: transparent;
}

.nav__checkbox:checked + nav .nav__toggle-button div:before {
	transform: rotate(45deg) translate(0.1px, 0.1px) scale(0.8);
}

.nav__checkbox:checked + nav .nav__toggle-button div:after {
	transform: rotate(-45deg) translate(9px, -9px) scale(0.8);
}

.nav__toggle-button div,
.nav__toggle-button div:after,
.nav__toggle-button div:before {
	width: 40px;
	height: 5px;
	background: white;
	border-radius: 3px;
	transition: all 1s;
}

.nav__toggle-button div:after,
.nav__toggle-button div:before {
	content: "";
	position: absolute;
}
.nav__toggle-button div:before {
	top: 12.5px;
}
.nav__toggle-button div {
	top: 0;
}
.nav__toggle-button div:after {
	bottom: 0;
}
