.nav__toggle-button {
	top: 14px;
	right: -55px;
	width: 40px;
	height: 31px;
	z-index: 1000000;
	position: absolute;
	transition: right 1s;
	cursor: pointer;
}

.nav__checkbox:checked + nav .nav__toggle-button {
	right: 10px;
	transition: right 1s;
}

.nav__checkbox:checked + nav .nav__toggle-button div {
	background-color: transparent;
}

.nav__checkbox:checked + nav .nav__toggle-button div:before {
	transform: rotate(45deg) translate(0.2px, 0.2px) scale(0.8);
}

.nav__checkbox:checked + nav .nav__toggle-button div:after {
	transform: rotate(-45deg) translate(9px, -9.5px) scale(0.8);
}

.nav__toggle-button div,
.nav__toggle-button div:after,
.nav__toggle-button div:before {
	width: 40px;
	height: 5px;
	background: white;
	transition: all 0.3s;
	border-radius: 3px;
	transition: all 1s;
}

.nav__toggle-button div:after,
.nav__toggle-button div:before {
	content: "";
	position: absolute;
}
.nav__toggle-button div:before {
	top: 13px;
}
.nav__toggle-button div {
	top: 0;
}
.nav__toggle-button div:after {
	bottom: 0;
}
