.search-item__image {
	order: 1;
	width: 34px;
	height: 34px;
	background-image: url("../routes/registry/default/images/100x100.png");
	border-radius: 8px;
	margin-right: 15px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin-bottom: 10px;

	@media screen and (min-width: 600px) {
		width: 80px;
		height: 80px;
		margin-bottom: 0;
	}
}
