$orbit_width : 4px;
$orbit_size : 70px;

.orbit-spinner, .orbit-spinner * {
	box-sizing : border-box;
	}

.orbit-spinner {
	border-radius : 50%;
	height        : $orbit_size;
	left          : 50%;
	position      : absolute;
	top           : 50%;
	transform     : translate(-50%, -50%);
	width         : $orbit_size;
	perspective   : 800px;
	}

.orbit-spinner .orbit {
	border-radius : 50%;
	box-sizing    : border-box;
	height        : 100%;
	position      : absolute;
	width         : 100%;
	}

.orbit-spinner .orbit:nth-child(1) {
	animation     : orbit-spinner-orbit-one-animation 1200ms linear infinite;
	border-bottom : $orbit_width solid #175f96;
	left          : 0;
	top           : 0;
	}

.orbit-spinner .orbit:nth-child(2) {
	animation    : orbit-spinner-orbit-two-animation 1200ms linear infinite;
	border-right : $orbit_width solid #111;
	right        : 0;
	top          : 0;
	}

.orbit-spinner .orbit:nth-child(3) {
	animation  : orbit-spinner-orbit-three-animation 1200ms linear infinite;
	border-top : $orbit_width solid #30d0ff;
	bottom     : 0;
	right      : 0;
	}

@keyframes orbit-spinner-orbit-one-animation {
	0% {
		transform : rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
		}
	100% {
		transform : rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
		}
	}

@keyframes orbit-spinner-orbit-two-animation {
	0% {
		transform : rotateX(50deg) rotateY(10deg) rotateZ(0deg);
		}
	100% {
		transform : rotateX(50deg) rotateY(10deg) rotateZ(360deg);
		}
	}

@keyframes orbit-spinner-orbit-three-animation {
	0% {
		transform : rotateX(35deg) rotateY(55deg) rotateZ(0deg);
		}
	100% {
		transform : rotateX(35deg) rotateY(55deg) rotateZ(360deg);
		}
	}

#loader {
	animation-duration : 500ms;
	}
