<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
</head>

<body>
	<ul>
		<li>
			<a href="#/">Homepage</a>
		</li>
		<li> Login
			<a href="#/login/default">Default</a>
			<a href="#/login/verification">Verification</a>
		</li>
		<li>
			<a href="#/registry">Registry</a>
		</li>
		<li>Example:
			<a href="#/default/example/empty/small/white">Empty</a>
			<a href="#/default/example/render/cute">Render</a>
		</li>
		<li> Errors:
			<a href="#/error/400">400</a>
			<a href="#/error/404">404</a>
		</li>
	</ul>

	<div id="root"></div>

	<footer> CTU FIT EvoDoc Team &copy; 2018</footer>


	<div id="loader">
		<div class="loader__inner">
			<div class="sk-folding-cube">
				<div class="sk-cube1 sk-cube"></div>
				<div class="sk-cube2 sk-cube"></div>
				<div class="sk-cube4 sk-cube"></div>
				<div class="sk-cube3 sk-cube"></div>
			</div>
		</div>
	</div>

</body>

</html>
