<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
</head>

<body>
	<div class="screen">
		<input type="checkbox" id="nav__checkbox" checked class="nav__checkbox">
		<nav>
			<label class="nav__toggle-button" for="nav__checkbox">
				<div></div>
			</label>

			<div class="nav__inner menu">
				<ul>
					<li class="menu__item menu__item_logotype item">EVODOC</li>

					<li class="menu__item item">
						<a href="#/">
							<div class="item__icon icon">
								<i class="fas fa-globe"></i>
							</div>
							<div class="item__label">
								Homepage
								<div class="item__label_small">main evodoc page</div>
							</div>
						</a>
					</li>

					<li class="menu__item item">
						<a href="#/dashboard">
							<div class="item__icon">
								<i class="fas fa-sliders-h"></i>
							</div>
							<div class="item__label">
								Dashboard
								<div class="item__label_small">user projects</div>
							</div>
						</a>
					</li>

					<li class="menu__item item">
						<a href="#/registry">
							<div class="item__icon">
								<i class="fas fa-box"></i>
							</div>
							<div class="item__label">
								Registry
								<div class="item__label_small">package registry</div>
							</div>
						</a>
					</li>

					<li class="menu__item item">
						<a href="#/registry/package/add">
							<div class="item__icon">
								<!-- <i class="icon-material">file_upload</i> -->
								<i class="fas fa-upload"></i>
							</div>
							<div class="item__label">
								Upload
								<div class="item__label_small">upload new package</div>
							</div>
						</a>
					</li>



					<li class="menu__item item">
						<a href="#/docs">
							<div class="item__icon">
								<i class="fas fa-file-alt"></i>
							</div>
							<div class="item__label">
								Docs
								<div class="item__label_small">guides and manuals</div>
							</div>
						</a>
					</li>

					<li class="menu__item item">
						<a href="#/docs/about">
							<div class="item__icon">
								<i class="fas fa-user-friends"></i>
							</div>
							<div class="item__label">
								About Us
								<div class="item__label_small">about the team</div>
							</div>
						</a>
					</li>

				</ul>
			</div>
		</nav>

		<main>
			<div class="wrapper">
				<!-- HEADER -->
				<header class="wrapper__header wrapper-header">
					<ol>
						<li onclick="APP.getRequest().redirect('/profile')">
							<div class="wrapper-header__text">
								Username
								<div class="wrapper-header__text_small">user profile</div>
							</div>
							<div class="wrapper-header__icon">
								<i class="fas fa-user-astronaut"></i>
							</div>
						</li>
						<li onclick="APP.getAPI().getAuthorization().signOut();">
							<div class="wrapper-header__icon">
								<i class="far fa-sign-out"></i>
							</div>
						</li>
					</ol>
				</header>

				<!-- BODY -->
				<div class="wrapper__body" id="root"></div>

				<!-- FOOTER -->
				<footer class="wrapper__footer"> CTU FIT EvoDoc Team &copy; 2018</footer>
			</div>
		</main>
	</div>

	<div id="loader">
		<div class="loader__inner ">
			<div class="sk-folding-cube ">
				<div class="sk-cube1 sk-cube "></div>
				<div class="sk-cube2 sk-cube "></div>
				<div class="sk-cube4 sk-cube "></div>
				<div class="sk-cube3 sk-cube "></div>
			</div>
		</div>
	</div>
</body>

</html>
