<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
</head>

<body>
	<script>
		document.addEventListener("DOMContentLoaded", function (event) {
			document.getElementById('menu-anchor').addEventListener("click", function (event) {
				document.getElementsByTagName('html')[0].classList.toggle('menu-active');
				event.preventDefault();
			})
		});
	</script>

	<span class="menu-anchor" id="menu-anchor"></span>

	<nav class="menu">
		<header class="avatar">
			<img class="profile-pic" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" alt="profile picture" />
			<div class="edit">
				<a href="#">
					<i class="fa fa-pencil fa-lg"></i>
				</a>
			</div>
			<br>
			<br>
			<h4>John Smith</h4>
		</header>

		<ul>
			<li>
				<a href="#/">
					<img class="menu-icon" src="http://www.entypo.com/images/globe.svg" alt="Homepage icon"></img>
					<span class="menu-label">Homepage</span>
				</a>
			</li>

			<li>
				<a href="#/packages">
					<img class="menu-icon" src="http://www.entypo.com/images/box.svg" alt="Packages icon"></img>
					<span class="menu-label">Packages</span>
				</a>
			</li>

			<li>
				<a href="#/upload">
					<img class="menu-icon" src="http://www.entypo.com/images/upload.svg" alt="Packages icon"></img>
					<span class="menu-label">Upload</span>
				</a>
			</li>

			<li>
				<a href="#/projects">
					<img class="menu-icon" src="http://www.entypo.com/images/folder.svg" alt="Projects icon"></img>
					<span class="menu-label">Projects</span>
				</a>
			</li>

			<li>
				<a href="#/docs">
					<img class="menu-icon" src="http://www.entypo.com/images/info.svg" alt="Docs icon"></img>
					<span class="menu-label">Docs</span>
				</a>
			</li>

			<li>
				<a href="#/settings">
					<img class="menu-icon" src="http://www.entypo.com/images/tools.svg" alt="Settings icon"></img>
					<span class="menu-label">Settings</span>
				</a>
			</li>

			<li>
				<a href="#/error/400">
					<span class="menu-label">400</span>
				</a>
			</li>
			<li>
				<a href="#/error/404">
					<span class="menu-label">404</span>
				</a>
			</li>
			<li>
				<a href="#/error/500">
					<span class="menu-label">500</span>
				</a>
			</li>

			<li>
				<a href="#/login/default">
					<img class="menu-icon" src="http://www.entypo.com/images/info.svg" alt="Docs icon"></img>
					<span class="menu-label">Default</span>
				</a>
			</li>

			<!-- <li>
				<a href="#/registration">
					<span class="menu-label">Registration</span>
				</a>
			</li>

			<li>
				<a href="#/login/verification">
					<span class="menu-label">Verification</span>
				</a>
			</li> -->

			<!-- <li>Example:
				<a href="#/default/example/empty/small/white">Empty</a>
				<a href="#/default/example/render/cute">Render</a>
			</li> -->

		</ul>
	</nav>

	<main>
		<div id="root"></div>
	</main>

	<footer> CTU FIT EvoDoc Team &copy; 2018</footer>

	<div id="loader">
		<div class="loader__inner">
			<div class="sk-folding-cube">
				<div class="sk-cube1 sk-cube"></div>
				<div class="sk-cube2 sk-cube"></div>
				<div class="sk-cube4 sk-cube"></div>
				<div class="sk-cube3 sk-cube"></div>
			</div>
		</div>
	</div>
</body>

</html>
