<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
</head>

<body>

	<div class="screen">
		<input type="checkbox" id="nav__checkbox" checked class="nav__checkbox">
		<nav>
			<div class="nav__inner menu">
				<div class="menu__profile profile">
					<img class="profile__avatar" alt="profile picture" />
					<h4 class="profile__name">Name Surname</h4>
					<span onclick="APP.getAPI().getAuthorization().signOut();">logout</span>
				</div>

				<ul>
					<li class="menu__item item">
						<a href="#/">
							<div class="item__icon icon">
								<i class="icon__icon-img icon-material">public</i>
							</div>
							<span class="item__label">Homepage</span>
						</a>
					</li>

					<li class="menu__item item">
						<a href="#/registry">
							<div class="item__icon icon">
								<i class="icon__icon-img fas fa-box"></i>
							</div>
							<span class="item__label">Registry</span>
						</a>
					</li>

					<li class="menu__item item">
						<a href="#/registry/package/add">
							<div class="item__icon icon">
								<i class="icon__icon-img icon-material">file_upload</i>
							</div>
							<span class="item__label">Upload</span>
						</a>
					</li>

					<li class="menu__item item">
						<a href="#/dashboard">
							<div class="item__icon icon">
								<i class="icon__icon-img icon-material">dashboard</i>
							</div>
							<span class="item__label">Dashboard</span>
						</a>
					</li>


					<li class="menu__item item">
						<a href="#/docs">
							<div class="item__icon icon">
								<i class="icon__icon-img fas fa-file-alt"></i>
							</div>
							<span class="item__label">Docs</span>
						</a>
					</li>

					<li class="menu__item item">
						<a href="#/docs/about">
							<div class="item__icon icon">
								<i class="icon__icon-img fas fa-file-alt"></i>
							</div>
							<span class="item__label">About Us</span>
						</a>
					</li>

					<li class="menu__item item">
						<a href="#/authorization/verification">
							<span class="item__label">TMP - Verification</span>
						</a>
					</li>


				</ul>
			</div>

			<label class="nav__toggle-button" for="nav__checkbox">
				<div></div>
			</label>

		</nav>

		<main>
			<div id="wrapper">
				<header>
					<div class="header">
						<div class="header__text text">
							<div class="text__title">EVODOC</div>
							<div class="text__subtitle">awesome app for the real programmers</div>
						</div>
						<div class="header__logo">
							<img src="<%= require('../../resources/images/logos/evodoc-logo.png') %>" alt="evodoc logo">
						</div>
					</div>
				</header>

				<div id="root"></div>

				<footer class="copyright"> CTU FIT EvoDoc Team &copy; 2018</footer>
			</div>
		</main>
	</div>

	<div id="loader">
		<div class="loader__inner ">
			<div class="sk-folding-cube ">
				<div class="sk-cube1 sk-cube "></div>
				<div class="sk-cube2 sk-cube "></div>
				<div class="sk-cube4 sk-cube "></div>
				<div class="sk-cube3 sk-cube "></div>
			</div>
		</div>
	</div>
</body>

</html>
