<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
</head>

<body>

	<div class="screen">
		<input type="checkbox" id="nav__checkbox" class="nav__checkbox">
		<nav>
			<div class="nav__inner menu">
				<div class="menu__profile profile">

					<div class="profile__logout" onclick="APP.getAPI().getAuthorization().signOut();">
						<i class=" far fa-sign-out"></i>
					</div>

					<div class="profile__avatar">
						<a href="#/">
							<!-- <img class="profile__avatar" alt="profile picture" /> -->
							<i class="avatar__icon-img icon-material">account_circle</i>
						</a>
					</div>
					<h4 id="username_profile" class="profile__name">Username</h4>
				</div>

				<!-- <i class="fas fa-sign-out-alt"></i> -->
				<ul>
					<li class="menu__item item">
						<a href="#/">

							<div class="item__item-cont item-cont">
								<div class="item-cont__icon">
									<i class="fas fa-globe"></i>
								</div>
								<div>
									<div class="item-cont__title">Homepage</div>
									<div class="item-cont__subtitle">main evodoc page</div>
								</div>
							</div>

						</a>
					</li>

					<li class="menu__item item">
						<a href="#/dashboard">

							<div class="item__item-cont item-cont">
								<div class="item-cont__icon">
									<i class="fas fa-sliders-h"></i>
								</div>
								<div>
									<div class="item-cont__title">Dashboard</div>
									<div class="item-cont__subtitle">user projects</div>
								</div>
							</div>

						</a>
					</li>

					<li class="menu__item item">
						<a href="#/registry">

							<div class="item__item-cont item-cont">
								<div class="item-cont__icon">
									<i class="fas fa-box"></i>
								</div>
								<div>
									<div class="item-cont__title">Registry</div>
									<div class="item-cont__subtitle">package registry</div>
								</div>
							</div>

						</a>
					</li>

					<li class="menu__item item">
						<a href="#/registry/package/add">

							<div class="item__item-cont item-cont">
								<div class="item-cont__icon">
									<i class="fas fa-upload"></i>
								</div>
								<div>
									<div class="item-cont__title">Upload</div>
									<div class="item-cont__subtitle">upload new packages</div>
								</div>
							</div>

						</a>
					</li>


					<li class="menu__item item">
						<a href="#/docs">
							<div class="item__item-cont item-cont">
								<div class="item-cont__icon">
									<i class="fas fa-file-alt"></i>
								</div>
								<div>
									<div class="item-cont__title">Docs</div>
									<div class="item-cont__subtitle">guides and manuals</div>
								</div>
							</div>
						</a>
					</li>

					<li class="menu__item item">
						<a href="#/docs/about">
							<div class="item__item-cont item-cont">
								<div class="item-cont__icon">
									<i class="fas fa-user-friends"></i>
								</div>
								<div>
									<div class="item-cont__title">About Us</div>
									<div class="item-cont__subtitle">about the team</div>
								</div>
							</div>
						</a>
					</li>

					<li class="menu__item item">
						<a href="#/interface">
							<div class="item-cont__title">TMP - Interface</div>
						</a>
					</li>

				</ul>
			</div>

			<label class="nav__toggle-button" for="nav__checkbox">
				<div></div>
			</label>

		</nav>

		<main>
			<div id="wrapper">
				<header>
					<div class="header">
						<div class="header__header-text header-text">
							<div class="header-text__title">EVODOC</div>
							<div class="header-text__subtitle">awesome app for the real programmers</div>
						</div>
						<div class="header__logo">
							<img src="<%= require('../../resources/images/logos/evodoc-logo.png') %>" alt="evodoc logo">
						</div>
					</div>
				</header>

				<div id="root"></div>

				<footer class="copyright"> CTU FIT EvoDoc Team &copy; 2018</footer>
			</div>
		</main>
	</div>

	<div id="loader">
		<div class="loader__inner">
			<div class="sk-folding-cube">
				<div class="sk-cube1 sk-cube"></div>
				<div class="sk-cube2 sk-cube"></div>
				<div class="sk-cube4 sk-cube"></div>
				<div class="sk-cube3 sk-cube"></div>
			</div>
		</div>
	</div>
</body>

</html>
