<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
</head>

<body>
	<ul>
		<li>
			<a href="#/">Homepage</a>
		</li>
		<li> Login
			<ul>
				<li>
					<a href="#/login/default">Default</a>
				</li>
				<li>
					<a href="#/login/verification">Verification</a>
				</li>
			</ul>
		</li>

		<li>
			<a href="#/registry">Registry</a>
		</li>
		<li>
			<a href="#/">Page</a>
		</li>
		<li>
			<a href="#/">Page</a>
		</li>
		<li>
			<a href="#/">Page</a>
		</li>
		<li>
			<a href="#/">Page</a>
		</li>
		<li>
			<a href="#/">Page</a>
		</li>

		<li>
			<a href="#/default/example/empty/small/white">Example: Empty</a>
		</li>
		<li>
			<a href="#/default/example/render/cute">Example: Render</a>
		</li>
	</ul>

	<div id="root"></div>

	<footer> CTU FIT EvoDoc Team &copy; 2018</footer>


	<div id="loader">
		<div class="loader__inner">
			<div class="sk-folding-cube">
				<div class="sk-cube1 sk-cube"></div>
				<div class="sk-cube2 sk-cube"></div>
				<div class="sk-cube4 sk-cube"></div>
				<div class="sk-cube3 sk-cube"></div>
			</div>
		</div>
	</div>

</body>

</html>
