<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
</head>

<body>
	<div class="screen">
		<input type="checkbox" id="nav__checkbox" class="nav__checkbox">
		<nav>
			<label class="nav__toggle-button" for="nav__checkbox">
				<div id='toggle'><div></div></div>
			</label>

			<div class="nav__inner">

				<div class="menu__profile profile">
					<img class="profile__avatar" alt="profile picture"/>
					<h4 class="profile__name">Name Surname</h4>
				</div>

				<ul>
					<li class="menu__item">
						<a href="#/">
							<i class="menu__icon icon-material">public</i>
							<span class="menu__label">Homepage</span>
						</a>
					</li>

					<li class="menu__item">
						<a href="#/packages">
							<i class="menu__icon fas fa-box"></i>
							<span class="menu__label">Packages</span>
						</a>
					</li>

					<li class="menu__item">
						<a href="#/upload">
						<i class="menu__icon icon-material">file_upload</i>
							<span class="menu__label">Upload</span>
						</a>
					</li>

					<li class="menu__item">
						<a href="#/projects">
							<i class="menu__icon fas fa-folder-open"></i>
							<span class="menu__label">Projects</span>
						</a>
					</li>

					<li class="menu__item">
						<a href="#/docs">
							<i class="menu__icon fas fa-file-alt"></i>
							<span class="menu__label">Docs</span>
						</a>
					</li>

					<li class="menu__item">
						<a href="#/settings">
							<i class="menu__icon fas fa-cog"></i>						
							<span class="menu__label">Settings</span>
						</a>
					</li>
				</ul>
				<!-- <a href="#/authorization/sign-in">Sign In</a>
				<a href="#/authorization/sign-up">Sign Up</a>
				<a href="#/authorization/password">Password</a>
				<a href="#"></a>
				<a href="#"></a>
				<span onclick="APP._authorization.sendLogout();">LOGOUT</span> -->
			</div>
		</nav>
		<main>
			<div id="wrapper">
				<div id="root"></div>
				<footer> CTU FIT EvoDoc Team &copy; 2018</footer>
			</div>
		</main>
	</div>

	<div id="loader">
		<div class="loader__inner ">
			<div class="sk-folding-cube ">
				<div class="sk-cube1 sk-cube "></div>
				<div class="sk-cube2 sk-cube "></div>
				<div class="sk-cube4 sk-cube "></div>
				<div class="sk-cube3 sk-cube "></div>
			</div>
		</div>
	</div>
</body>
</html>


<!-- <li>
	<a href="#/error/500">
		<span class="menu-label">500</span>
	</a>
</li>

<li>
	<a href="#/login/default">
		<img class="menu-icon" src="http://www.entypo.com/images/info.svg" alt="Docs icon"></img>
		<span class="menu-label">Default</span>
	</a>
</li> -->